<link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
<div class="MyCustomWrapper">
  <nav class="red">
    
  
    
    
    <div class="nav-wrapper">
      <ul>
        <li style="margin-top: 9px;"><button href="#" class="brand-logo" data-target="slide-out" class="btn-flat white-text red sidenav-trigger"><span class="material-icons">menu</span></button></li>
        <li><a routerLink="/home" class="brand-logo"><img src="../assets/Logo.jpg" height="65px" width="177px" alt=""></a></li>
      </ul>

      
      
      
      <ul class="right hide-on-med-and-down">
        <div *ngIf="user == null">
          <li><a routerLink="/signup">Sign Up</a></li>
          <li><a routerLink="/signin">Sign In</a></li>
        </div>
        <div *ngIf="user != null">
          <li>
            <a routerLink="/profile">
              <span class="small material-icons">person</span>
              {{user['displayName']}}
            </a>
            
          </li>
          <li>
            <button type="button" data-target="logoutmodal" class="modal-trigger btn red btn-flat white-text"  id="logoutmodaltrigger">
              <span class="tiny material-icons">power_settings_new</span>
              Logout
            </button>
          </li>

        </div>
        
        
      </ul>
    </div>
  </nav>

  
  
  

  <router-outlet></router-outlet>

</div>

<ul class="sidenav red" id="slide-out">
  <div style="margin: auto;">
    <li>
      <a href="#!" class="brand-logo"><img src="../assets/Logo.jpg" height="80px" width="220px" alt=""></a>
    </li>
  </div>
  
  <hr style="margin-top: 40px;">
  <div style="margin-top: 5px;">
    <div *ngIf="user == null">
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/signin">Sign In</a></li>
    </div>
    <div *ngIf="user != null">
      <ul class="white-text">
              
        <li>
          <a class="white-text" routerLink="/profile">
            <span class="small material-icons">person</span>
            {{user['displayName']}}
          </a>
        </li>
        <li >
          <a class="white-text" routerLink="/updateprofile">
              <span class="small material-icons">account_box</span>
              Update Profile
          </a>
        </li>

        <li>
          <a class="white-text" routerLink="/uploadnewdocument">
            <span class="small material-icons">add</span>
            Upload a new Document
          </a>
        </li>

        <li>
          <a class="white-text" [routerLink]="['/viewdocuments/', user['email'] ]">
            <span class="small material-icons">list</span>
            View my documents
          </a>
        </li>
     
           
        <li>
          <button type="button" data-target="logoutmodal" class="modal-trigger btn red btn-flat white-text"  id="logoutmodaltrigger">
            <span class="tiny material-icons">power_settings_new</span>
            Logout
          </button>
        </li>             
      </ul>
    </div>
  </div>
</ul>


<div id="logoutmodal" class="modal">
  <div class="modal-content">
  <h4 class="green-text">Sign out</h4>
  <p class="black-text">Dear user, are you sure that you want to logout?</p>
  </div>
  <div class="modal-footer">
  <button type="button" (click)="logout()" class="modal-close waves-effect waves-green btn-flat">Logout</button>
  <button type="button" class="modal-close waves-effect waves-green btn-flat">Cancel</button>
  </div>
</div> 

