<div *ngIf="!isLoading">
    <div *ngIf="!data['switch']">
        <div class="card grey darken-4">
                
            <div class="card-content center">
                
                <div>
                    <h4 class="card-title"><u>Title:</u> {{data['name']}}</h4>
                </div>
                
                <div class="hide-on-med-and-down show-on-large ">
                    
                    <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                        <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                            <img [src]="data['fileurl']" width="60%" >
                        </div>
                        <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' ">
                            <button type="button" class="btn-flat blue">Click here to View this Document</button>
                        </div>
                    </a>
                    
                </div>
                <div class="show-on-small show-on-medium hide-on-large-only" >
                    
                    <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                        <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                            <img [src]="data['fileurl']" width="80%" >
                        </div>
                        <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' ">
                            <button type="button" class="btn-flat blue">Click here to View this data</button>
                        </div>
                    </a>
                </div>
        
                <div>
                    <h6>Document type: {{data['filetype']}} </h6>
                </div>
        
                <div>
                    <h6>Uploaded Date: {{data['date']}} </h6>
                </div>
                
                <div class="card-action">
                    <div>
                        <p>AUTHOR-EMAIL FOR THIS DOCUMENT: {{data['authoremail']}} </p>
                    </div>
                    <div>
                        <p>AUTHOR-NAME FOR THIS DOCUMENT: {{data['authorname']}} </p>
                    </div>
                </div>
                
        
                
            </div>
        </div>

    </div>
    <div *ngIf="data['switch']" class="center">
        <p>This document is private! Please ask <b><u>{{data['authorname']}}</u></b>  to make it as public inorder to view this </p>

    </div>

</div>

<div *ngIf="isLoading" class="center" style="margin-top: 20px;">
    
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <h4>Loading..</h4>

</div>