<div *ngIf="!isLoading">
    
        <div *ngIf="!data['switch']">
            
            <div class="card grey darken-4">
                
                <div class="card-content center">
                    
                    <div>
                        <h4 class="card-title"><u>Title:</u> {{data['name']}}</h4>
                    </div>
                    
                    <div class="hide-on-med-and-down show-on-large ">
                        
                        <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                            <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                                <img [src]="data['fileurl']" width="60%" >
                            </div>
                            <div *ngIf="data['filetype']=='video/mp4' || data['filetype']=='video/3gp' || data['filetype']=='video/m4a' ">
                                        
                                <video width="100%" controls [src]="data['fileurl']"></video>
                            </div>
                            <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' && data['filetype']!='video/mp4' && data['filetype']!='video/3gp' && data['filetype']!='video/m4a'  ">
                                <button type="button" class="btn-flat blue">Click here to View this Document</button>
                            </div>
                        </a>
                        
                    </div>
                    <div class="show-on-small show-on-medium hide-on-large-only" >
                        
                        <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                            <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                                <img [src]="data['fileurl']" width="80%" >
                            </div>
                            <div *ngIf="data['filetype']=='video/mp4' || data['filetype']=='video/3gp' || data['filetype']=='video/m4a' ">
                                        
                                <video width="100%" controls [src]="data['fileurl']"></video>
                            </div>
                            <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' && data['filetype']!='video/mp4' && data['filetype']!='video/3gp' && data['filetype']!='video/m4a'  ">
                                <button type="button" class="btn-flat blue">Click here to View this Document</button>
                            </div>
                        </a>
                    </div>
            
                    <div>
                        <h6>Document type: {{data['filetype']}} </h6>
                    </div>
            
                    <div>
                        <h6>Uploaded Date: {{data['date']}} </h6>
                    </div>
                    
                    <div class="card-action">
                        <div>
                            <p>AUTHOR-EMAIL FOR THIS DOCUMENT: {{data['authoremail']}} </p>
                        </div>
                        <div>
                            <p>AUTHOR-NAME FOR THIS DOCUMENT: {{data['authorname']}} </p>
                        </div>
                        <div *ngIf="user!=null && user['email']==email ">
                            <button (click)="update()" class="btn-flat blue white-text" >
                                <span class="material-icons">edit</span>
                                Update
                            </button>
            
                        </div>
                    </div>
                    
            
                    
                </div>
            </div>
            
            
    
        </div>
        <div *ngIf="data['switch']" class="center">
            <div *ngIf="user!=null && user['email']==email">
                <div class="card grey darken-4">
                
                    <div class="card-content center">
                        
                        <div>
                            <h4 class="card-title"><u>Title:</u> {{data['name']}}</h4>
                        </div>
                        
                        <div class="hide-on-med-and-down show-on-large ">
                            
                            <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                                <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                                    <img [src]="data['fileurl']" width="60%" >
                                </div>
                                <div *ngIf="data['filetype']=='video/mp4' || data['filetype']=='video/3gp' || data['filetype']=='video/m4a' ">
                                        
                                    <video width="100%" controls [src]="data['fileurl']"></video>
                                </div>
                                <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' && data['filetype']!='video/mp4' && data['filetype']!='video/3gp' && data['filetype']!='video/m4a'  ">
                                    <button type="button" class="btn-flat blue">Click here to View this Document</button>
                                </div>
                            </a>
                            
                        </div>
                        <div class="show-on-small show-on-medium hide-on-large-only" >
                            
                            <a [href]="data['fileurl']" target="_blank" download="Docsmadesimple">
                                <div *ngIf="data['filetype']=='image/jpeg' || data['filetype']=='image/jpg' || data['filetype']=='image/png' ">
                                    <img [src]="data['fileurl']" width="80%" >
                                </div>
                                <div *ngIf="data['filetype']=='video/mp4' || data['filetype']=='video/3gp' || data['filetype']=='video/m4a' ">
                                        
                                    <video width="100%" controls [src]="data['fileurl']"></video>
                                </div>
                                <div *ngIf="data['filetype']!='image/jpeg' && data['filetype']!='image/jpg' && data['filetype']!='image/png' && data['filetype']!='video/mp4' && data['filetype']!='video/3gp' && data['filetype']!='video/m4a'  ">
                                    <button type="button" class="btn-flat blue">Click here to View this Document</button>
                                </div>
                            </a>
                        </div>
                
                        <div>
                            <h6>Document type: {{data['filetype']}} </h6>
                        </div>
                
                        <div>
                            <h6>Uploaded Date: {{data['date']}} </h6>
                        </div>
                        
                        <div class="card-action">
                            <div>
                                <p>AUTHOR-EMAIL FOR THIS DOCUMENT: {{data['authoremail']}} </p>
                            </div>
                            <div>
                                <p>AUTHOR-NAME FOR THIS DOCUMENT: {{data['authorname']}} </p>
                            </div>
                            <div>
                                <button (click)="update()" class="btn-flat blue white-text" >
                                    <span class="material-icons">edit</span>
                                    Update
                                </button>
                            </div>
                        </div>
                        
                
                        
                    </div>
                </div>
                
            </div>
            <div *ngIf= "user == null ||  user['email']!=email">
                <p>This document is private! Please ask <b><u>{{data['authorname']}}</u></b>  to make it as public inorder to view this </p>
            </div>
            
        </div>
    

</div>

<div *ngIf="isLoading" class="center" style="margin-top: 20px;">
    
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <h4>Loading..</h4>

</div>