html,body {
    min-height: 100vh;
    height: auto;
    background-color: black;
}

h1,h2,h3,h4,h5,h6,th{
    color: white;
    font-family: 'Julius Sans One';
}

a,p,input,textarea,li,ul,td{
    color: white;
    font-family: 'Kite One';
    font-size: medium;
}

.card{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.brand-logo:hover{

    background-color: transparent;

}

